*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container {
    /* display: flex;
    flex-wrap: wrap; */
    display: inline-block;
    position: relative;
}
#city{
    padding:5px 0;
    border-radius: 5px;
    margin: 10px 0;
}
header {

    color: white;
    text-align: center;
    background:-webkit-linear-gradient(to right, lightblue,darkblue);
    background:linear-gradient(to right,lightblue,darkblue);
    margin: 20px;
    padding: 10px;
}

.cities{
    margin: 20px;
    /* display: flex; */
    /* justify-content: center;
    flex-wrap: wrap; */
    align-items: flex-start;
    
}
.searchbtn {
    width: 100%;

    /* height: calc(100% - 50px); */
    background-color: skyblue;
    /* background:-webkit-linear-gradient(to right, white,lightblue);
    background:linear-gradient(to right,white,lightblue); */
    border-radius: 5px;
    padding:  5px 0;
}
.city-list{
    border-top: 1px solid gray;
    margin: 20px 0;
    /* background-color: gray; */
    /* height: calc(100% - 80px); */
    /* background: rgb(196, 196, 196); */
    /* border-radius: 12px; */
    /* border: 2px solid  gray; */
}
body ul li{
    list-style-type: none;
    
    padding-top: 5px;

}
/* .btn { */
   
    /* display: inline-block; */
/* position: absolute; */


/* } */
.btn {
    border: 1px solid gray;
    margin-top: 15px;
    /* align-items: center; */
    /* justify-content: center; */
    border-radius: 5px;
    background-color: lightgray;
    text-align: center;
    padding: 5px;

}
.weather-part {
    align-items: center;
}
.weather-part img{
max-width: 50px;
}
.details-whether-info{
    margin: 20px 0 0 20px;
}

.city-weather{
    margin-top: 30px;
    height: 180px;
     width: 1200px;
   border: 1px solid black;
   border-radius: 5px;
   justify-content: right;

}

.containt-left{
    display: inline-block;
    position: absolute;
}

.forecastContainer{
    margin-top: 20px;
    position: absolute;   
}


.weatherIcon {
    height: 25px;
    width: 25px;
}

.days-container div{
    background-color: lightblue;
}
.further-container{
    display: inline-block;
    border: 1px solid gray;
    border-radius: 5px;
    height: 180px;
    width: 180px;
    margin: 20px 30px 0 0;
    text-align: center;
    padding-top: 20px;

}

@media screen and (max-width: 980px) {
    #today-weather{

        height: 180px;
        width: 600px;

    }
}

@media screen and (max-width: 768px) {
#today-weather{

        height: 180px;
         width: 400px;


    }
}

@media screen and (max-width: 575px) {

    .further-container{
        height: 100px;
        width: 100px;
    
    }

}